<!DOCTYPE HTML>
		<!-- Autor: Anderson Ladino -->

<html>
	<head>
		<title>Análisis de sentimientos - Kichwa</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<noscript><link rel="stylesheet" href="../static/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

			<div id="wrapper">


				
					<header id="header" class="alt">
						<span class="logo"><img src="../static/img/img31.png" alt="AnimateACrear" /></span>
						<h1>UNIVERSIDAD POLITÉCNICA SALESIANA</h1>
						<h1>Análisis de sentimientos de textos en Kichwa en el  ámbito ecuatoriano.</h1>
					</header>

					<nav id="nav">
						<ul>
							<li><a href="#intro" class="active">Analizador de sentimientos</a></li>
							<li><a href="#first">Información</a></li>
							<li><a href="#cta">Contáctos</a></li>
						</ul>
					</nav>

					<div id="main">

							<section id="intro" class="main">
								<div class="spotlight">
								

									<div class="content">
										<main id="main">
											<section id="about" class="about">
												<div class="container ajustar" data-aos="fade-up">
													<div class="section-title">
														<h2 >Analizador de sentimientos Kichwa</h2>
														<p></p>
														<div class="divider py-1 bg-dark"></div>
														<!--                     <hr class="mt-2 mb-3" /> -->
													</div>
													<form method="POST" id="todo-form">
														<div class="form-group">
															<p class="font-weight-light">Ingrese el texto a analizar:</p>
															<textarea class="form-control" name="todo" id="todo" rows="10" required></textarea>
														</div>
														<div class="form-group" style="text-align: center">
									
															<button type="submit" style="text-align: center" class="btn btn-outline-primary btn-lg btn-block">Analizar <span class="fa fa-arrow-circle-right" aria-hidden="true"></span></button>
														</div>
													</form>
												</div>
											</section>
										</main>
									</div>
								</div>

							</section>

							<section id="first" class="main special">
								<header class="major">
									<h2>Información</h2>
								</header>
								<ul class="features">
										<span class="icon major style3 fa-copy"></span>
										
										<p>
											Este sitio web tiene como objetivo realizar análisis de sentimientos de
											textos en el idioma kichwa en el ambito ecuatoriano. Para ampliar y enriquecer
											la comprensión de las expresiones lingüísticas en kichwa, ofreciendo un espacio
											virtual donde los usuarios pueden someter sus textos para ser evaluados desde
											el punto de vista emocional y contextual. Nuestra plataforma utiliza avanzadas
											técnicas de procesamiento de lenguaje natural adaptadas específicamente al
											kichwa, permitiendo así una interpretación precisa de las sutilezas y matices
											propios de este idioma ancestral.

										</p>

						
								
								</ul>
					
							</section>


							<section id="cta" class="main special">
								<header class="major">
									<h2>Contáctos</h2>
									<p>Maria Fernanda Albán
								<br> (+593) 989696997</p>
								<p>Bryan Gualoto
									<br> (+593) 978834219
								</p>
								</header>

							</section>

					</div>

					<footer id="footer">

						<!--<section>
							<h2>#TraductorKichwa</h2>
							<dl class="alt">
								<dt>Dirección:</dt>
								<dd>Ecuador &bull; Quito, Quitumbe &bull; Av.condor ñan y ñusta</dd>
								<dt>Teléfono:</dt>
								<dd>2736539</dd>
								<dt>Correo electrónico:</dt>
								<dd>
								<a href="mailto:andersonladino17@gmail.com?cc=aladino@est.ups.edu.ec, aladino@est.ups.edu.ec, &bcc=aladino@est.ups.edu.ec &subject=Solicitud de Información &body=Necesito mayor información de Animate a Crear">andersonladino17@gmail.com</a>
							</dd>
							</dl>
						</section>
						<p class="copyright">&copy; Creado por:<a href="">TraductorKichwa</a>.</p>-->
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.scrollex.min.js"></script>
			<script src="../static/js/jquery.scrolly.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>
